<footer class="container-fluid ">
                    <div class="row justify-content-around align-items-center">
                        <div class="col-12 col-md-4 text-center">
                            <p>Adresse</p>
                            <p>
                                Rue Ernest Renan 75015<br>Paris,France</p>
                        </div>
                        <div class="col-12 col-md-4 text-center">
                            <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
                            <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>
                            <a href="https://www.linkedin.com/in/boudjemaa-serghine-6a92281a1/"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </footer>
                <style>
  footer a{
    color: #999;
    font-size: 2rem;
}
footer{
    background-color: rgba(0,0,0,0.8);
    color: #999;
    padding-top:2rem ;
    padding-bottom: 1.5rem;
    

}
footer a:hover{
    color:rgba(255,255,255,.7) ;
}
                </style>