
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ZUBemails</title>
	
<link rel="stylesheet" type="text/css" href="/stylesheets/email.css" />
  <link rel="stylesheet" href="/all.css">
</head>
 
<body>


<!-- HEADER -->



<!-- BODY -->

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
					
						<p>{{message}}</p>
						<!-- Callout Panel -->
									
							<br>
                            <br>					
						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>
									
									<!-- column 1 -->
								
									
									<!-- column 2 -->
                                   
                                       <table align="left" class="column">
										<tr>
											<td>
                                                    <p>Boudjemaa SERGHINE</p>
                                                <div style="display: flex;background-color:  rgb(84, 206, 200);">
                                                <p style="color:white;"><EM>cleanUP</EM><i class="fas fa-broom"></i> </p>
                                                </div>
												<h5 class="">Connect with Us:</h5>
												<p class=""><a href="https://github.com/serghine/" class="soc-btn fb">git-hub</a>
                                                <a href="https://www.linkedin.com/in/boudjemaa-serghine-6a92281a1/" class="soc-btn tw">linkedin</a>
												<h5 class="">Contact Info:</h5>												
												<p>Phone: <strong>0768467207</strong>
                                                Email: <strong><a href="emailto:sergh.boudj@gmail.com">sergh.boudj@gmail.com</a></strong></p>
                
											</td>
										</tr>
									</table><!-- /column 2 -->
                                  
									
									
									<span class="clear"></span>	
									
								</td>
							</tr>
						</table><!-- /social & contact -->
						
					</td>
				</tr>
			</table>
			</div><!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="#">Terms</a> |
							<a href="#">Privacy</a> |
							<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>